body{
    margin: 0px;
    padding: 0px;
}

.top-header{
    width: 100%;
    background-color: black;
}

.site-header{
    display: flex;
    align-items: center;
    justify-content: baseline;
    color: white;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    flex: 1 1 auto;
}

.site-title{
    margin: 0;
}

.options a{
    text-decoration: none;
    color: white;
    margin: 15px;
}

.option a:hover{
    text-decoration: underline;
}