body{
    margin: 0px;
    padding: 0px;
}

.top-header{
    width: 100%;
    background-color: black;
}

.site-header{
    display: flex;
    align-items: center;
    justify-content: baseline;
    color: white;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    flex: 1 1 auto;
}

.site-title{
    margin: 0;
}

.options a{
    text-decoration: none;
    color: white;
    margin: 15px;
}

.option a:hover{
    text-decoration: underline;
}

.page-buttons{
    margin: auto;
    padding: 15px;
    border: red 10px;
    gap: 25px;
    display:flex;
}
.page-buttons button{
    color: black;
    background-color: grey;
    height: 82px;
    width: 66px;
    flex: 1 1 0;
}